<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
    
    <div class = "flex align-middle items-center px-10 mx-auto gap-6">
        <a class="flex items-center gap-3 not-only:max-h-16 text-white border-r-white border-r-2 pr-6">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10">
            <path fill-rule="evenodd" d="M10.5 3.798v5.02a3 3 0 0 1-.879 2.121l-2.377 2.377a9.845 9.845 0 0 1 5.091 1.013 8.315 8.315 0 0 0 5.713.636l.285-.071-3.954-3.955a3 3 0 0 1-.879-2.121v-5.02a23.614 23.614 0 0 0-3 0Zm4.5.138a.75.75 0 0 0 .093-1.495A24.837 24.837 0 0 0 12 2.25a25.048 25.048 0 0 0-3.093.191A.75.75 0 0 0 9 3.936v4.882a1.5 1.5 0 0 1-.44 1.06l-6.293 6.294c-1.62 1.621-.903 4.475 1.471 4.88 2.686.46 5.447.698 8.262.698 2.816 0 5.576-.239 8.262-.697 2.373-.406 3.092-3.26 1.47-4.881L15.44 9.879A1.5 1.5 0 0 1 15 8.818V3.936Z" clip-rule="evenodd" />
            </svg>

            <h2 class="text-2xl font-semibold text-white uppercase">Scientists History App</h2>
            
        </a>
    

        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            <a>Matches</a>
            <a>Lists</a>
            <a>Messages</a>
        </nav>

        <div class="flex align-middle ml-auto gap-3">
            @if (accountService.currentUser(); as user)
            {
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">
                        <img src="/user.png" alt="user avatar" class="w-8 h-8 rounded-full">
                        <span>{{user.displayName}}</span>
                    </div>
                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                        <li><a>Edit Profile</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            }
            @else
            {
                <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
                    <input 
                        [(ngModel)] = "creds.email"
                        name="email"
                        type="text" 
                        class="input" 
                        placeholder="Email">
                    <input 
                        [(ngModel)] = "creds.password"
                        name="password"
                        type="password" 
                        class="input" 
                        placeholder="Password">
                    <button type="submit" class="btn">Login</button>
                </form>
            }           

        </div>
    </div>
</header>
